<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TempMail</title>
    <style>
body{
    margin:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: black;
    color:white;
    display:flex;
    flex-direction: column;
    align-items:center;
}
.main-box{ text-align: center;
    margin-top: 60px;}
button{
    margin-top:10px;
    padding: 7px 15px;
    background: rgb(17, 163, 17);
    color:white;
    border: none;
    border-radius:5px;
    cursor: pointer;
}

    </style>

</head>
<body>
    <div class="main-box">
    <h1>Temp<span style="color: red;">Mail</span></h1>
    <p> Generate temporary emails for OTP verification & testing. </p>
    <a href="/generate"><button>Generate Email</button></a>
    </div>
</body>
</html>